/* STYLING FOR INDEX.HTML */

body,
html {
    height: 100%;
}

h1 {
    color: white;
}

h6 {
    color: rgb(190, 190, 190);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.ds-logo,
#selected-restaurant {
    font-family: 'Pompiere', cursive;
}

.ds-logo {
    word-spacing: 30px;
}

.navbar-logo {
    margin: 10px 50px 0px 25px;
    letter-spacing: 0.0625em;
}

.navbar-semi-transparent {
    background-color: rgba(0, 0, 0, 0.75);
}

.nav li,
.nav #login-logout {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
}

.options {
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-text h1 {
    font-size: 64px;
}

.options h4,
h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
}

#pancakes {
    position: relative;
    width: 100%;
    z-index: 0;
}

.main-image {
    margin-bottom: 0px;
}

.main-cover {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-text {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.search-bar {
    margin-top: 60px;
}

.demo {
    color: #FF4500;
    font-size: 20px;
    padding-bottom: 0px;
    position: relative;
    top: 5px;
}

.introjs-showElement h4 {
    color: black;
    font-weight: bold;
}

.introjs-showElement h6 {
    color: black;
    font-weight: bold;
}


/* STYLING FOR RESTAURANT-SEARCH */

#results {
    margin-top: 100px;
    margin-bottom: 0px;
}

.one-restaurant {
    margin: 50px 0px;
}

#search-info h6,
h3 {
    font-family: 'Open Sans', 'sans-serif';
}

#search-info a {
    color: white;
}

#search-image img {
    max-width: 100%;
}


/* STYLING FOR WAIT-INPUT */
.demo {
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
}

.selected-row {
    margin-top: 100px;
}

#selected-restaurant-pic img {
    max-width: 100%;
}

#selected-restaurant {
    margin-top: 100px;
}

.input-row {
    margin-top: 50px;
}

#sel1 {
    background-color: rgba(0, 0, 0, 0.75);
}

input[type="text"],
textarea {
    background-color: rgba(0, 0, 0, 0.75);
}

#error-message{
    color: red;
}

#get-recipe {
    height: 40px
}

#get-recipe:hover {
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.suggest {
    text-align: center;
}

.recipes-header {
    text-align: center;
    font-family: 'Pompiere', cursive;
    font-weight: bold;
}

.recipes {
    padding-top: 100px;
    margin-bottom: 50px;
}

.recipe {
    width: 60%;
    margin: auto;
    height: 350px;
    margin-top: 40px;
}

.recipe img {
    padding: 1px;
    border: 1px solid silver;
    background-color: grey;
    height: 300px;
    margin-top: 10px;
}

.recipe h5,
.recipe ul {
    margin-bottom: 25px;
}

.recipe ul {
    overflow: scroll;
    list-style: none;
    margin-left: 10px;
    max-height: 150px;
    padding-left: 0px;
}

.searchMoreRecipe {
    width: 50%;
    margin: auto;
    margin-bottom: 100px
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#home {
    float: left;
}

#get-recipe {
    float: left;
}

.suggest {
    font-family: 'Open Sans', 'sans-serif';
}