/* STYLING FOR INDEX.HTML */
body, html {
    height: 100%;
}

h1 {
    color: white;
}

h6 {
    color: rgb(190, 190, 190);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.ds-logo, #selected-restaurant {
    font-family: 'Pompiere', cursive;
}

.navbar-logo {
    margin: 10px 50px 0px 25px;
}

.navbar-semi-transparent {
    background-color: rgba(0, 0, 0, 0.75);
}

.nav li, .nav #login-logout {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
}

.options {
    margin-top: 60px;
    margin-bottom: 30px;
}

.main-text h1 {
    font-size: 64px;
}

.options h4, h6{
   font-family: 'Open Sans', sans-serif;
}

#pancakes {
    position: relative;
    width: 100%;
    z-index: 0;
}

.main-image {
    margin-bottom: 0px;
}

.main-cover {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-text{
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.search-bar {
    margin-top: 60px;
}

.demo{
    color: #FF4500;
    font-size: 20px;
    padding-bottom: 0px;
    position: relative;
    top: 10px;
}

.introjs-showElement h4 {
    color: black;
    font-weight: bold;
}

.introjs-showElement h6 {
    color: black;
    font-weight: bold;
}

/* STYLING FOR RESTAURANT-SEARCH */
#results {
    margin-top: 100px;
    margin-bottom: 0px;
}

.one-restaurant {
    margin: 50px 0px;
}

#search-info h6, h3 {
    font-family: 'Open Sans', 'sans-serif';
}

#search-info a {
    color: white;
}

#search-image img {
    max-width: 100%;
}


/* STYLING FOR WAIT-INPUT */
.input-row {
    margin-top: 100px;
}

#selected-restaurant {
    margin-top: 100px;
}

input[type="text"], textarea {
    background-color : rgba(0, 0, 0,0.75);
  }
#get-recipe{
    height:40px
}
#get-recipe:hover{
    position:relative; 
    bottom:5px; 
    cursor:pointer;
}
.suggest{
    text-align: center;
}
.recipes-header{
    text-align: center; 
    font-family:'Pompiere',cursive;
    font-weight: bold;
}
.recipes{
    padding-top:100px;
    margin-bottom: 50px;
}
.recipe{
    width:60%;
    margin:auto;
    height: 350px;
    margin-top:40px;
}
.recipe img{
    padding:1px;
    border:1px solid silver;
    background-color:grey;
    height: 300px;
    margin-top: 10px;
}
.recipe h5, .recipe ul{
    margin-bottom:25px;
}
.recipe ul{
    overflow: auto;
    list-style: none;
    margin-left:10px;
    max-height: 150px;
    padding-left:0px;
}

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

